.ng-dygraphs {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #eeeeee;
    overflow: hidden;
}

.ng-dygraphs .legend {
    background: #f5f5f5;
    border: 1px solid #d0d0d0;
    padding: 0 5px 0 5px;
    width: 138px;
    font-size: 12px;
    overflow-y: auto;
}

.ng-dygraphs .legend ul li:hover {
    overflow-x: visible;
}

.ng-dygraphs .legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.ng-dygraphs .legend-above {
    margin-bottom: 20px;
}

.ng-dygraphs .legend-above .series-container {
    white-space: nowrap;
}

.ng-dygraphs .not-graphed {
    text-decoration: line-through;
    opacity: 0.75;
}

.ng-dygraphs .not-graphed:hover {
    opacity: 1.0;
}

.ng-dygraphs .selected {
    font-weight: bold;
}

.ng-dygraphs .series {
}