<div class="ng-dygraphs" ng-show="lastTm > 0">
    <div class="graph" ng-show="data.length > 0 && !loading"></div>
    <div class="loading mega-center" ng-show="loading"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
    <div class="legend" ng-if="LegendEnabled">
        <div class="series-container">
            <div ng-repeat="series in legendSeries" class="series">
                <a ng-click="selectSeries(series)">
                    <span ng-bind-html="seriesLine(series)"></span>
                    <span ng-style="seriesStyle(series)">{{series.label}}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="dypopover"></div>
</div>