<form class="form-horizontal" role="form">
    <div ng-controller="MetricWidgetCtrl">
        <div class="form-group">
            <label class="col-sm-2 control-label">Tags: </label>

            <div class="col-sm-10" ng-switch="widget.editable">
                <div ng-switch-when="true">
                    <tags-input class="metric"
                                display-property="tag"
                                ng-model="kvps"
                                placeholder="Add a tag"
                                min-length="0"
                                add-on-comma="true"
                                add-on-space="true"
                                enable-editing-last-tag="true">
                        <auto-complete-khronos source="fetchSuggestions($query)"
                                               format-suggestion="formatSuggestion($item, $query)"
                                               min-length="0"
                                               load-on-empty="true"
                                               load-on-focus="true"
                                               debounce-delay="0"
                                               max-results="10"></auto-complete-khronos>
                    </tags-input>
                </div>
                <div ng-switch-when="false" class="tags-disp">
                    <div ng-if="kvps.length == 0" class="form-text"><span>None</span></div>
                    <ul class="tag-list">
                        <li class="tag-item" ng-repeat="kvp in kvps | orderBy:tag">
                            <span>{{kvp.tag}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
