<div ng-controller="MetricWidgetCtrl">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Tags: </label>
            <div class="col-sm-10">
                <tags-input class="metric"
                            display-property="tag"
                            ng-model="tags"
                            placeholder="Add a tag"
                            min-length="0"
                            add-on-comma="true"
                            add-on-space="true"
                            enable-editing-last-tag="true">
                    <auto-complete-khronos source="fetchSuggestions($query)"
                                           format-suggestion="formatSuggestion($item, $query)"
                                           min-length="0"
                                           load-on-empty="true"
                                           load-on-focus="true"
                                           debounce-delay="0"
                                           max-results="10"></auto-complete-khronos>
                </tags-input>
            </div>
        </div>
    </form>
</div>
