<div class="metric" ng-controller="MetricWidgetCtrl">
    <form class="form config" role="form">
        <div class="form-group">
            <label ng-if="widget.editable" class="control-label">Tags: </label>

            <div ng-switch="widget.editable">
                <div ng-switch-when="true">
                    <tags-input class="metric"
                                display-property="tag"
                                ng-model="tags"
                                placeholder="Add a tag"
                                min-length="0"
                                add-on-comma="true"
                                add-on-space="true"
                                enable-editing-last-tag="true">
                        <auto-complete-khronos source="fetchSuggestions($query)"
                                               format-suggestion="formatSuggestion($item, $query)"
                                               min-length="0"
                                               load-on-empty="true"
                                               load-on-focus="true"
                                               debounce-delay="0"
                                               max-results="10"></auto-complete-khronos>
                    </tags-input>

                </div>
                <div ng-switch-when="false" class="tags-disp">
                    <div ng-if="tags.length == 0" class="form-text"><span>None</span></div>
                    <ul class="tag-list">
                        <li class="tag-item" ng-repeat="tag in tags | orderBy:'tag'">
                            <span><i class="fa fa-tag"></i> {{tag.tag}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div ng-if="false && widget.editable">
                <label class="control-label">Renderer: </label>

                <select class="form-control" ng-model="widget.config.options.renderer"
                        ng-options="r for r in renderers"></select>
            </div>
        </div>
    </form>
    <div>
        <ng-dygraphs
                options="widget.config.options"
                legend="widget.legend"
                data="widget.data"
                last-tm="widget.lastTm">
        </ng-dygraphs>

        <div ng-if="widget.notifications.length">
            <hr/>
            <div class="alert alert-dismissible" role="alert"
                 ng-class="{ 'alert-danger': notification.type == 'error', 'alert-warning': notification.type == 'warn' }"
                 ng-repeat="notification in widget.notifications | limitTo: 5">
                <button type="button" class="close" ng-click="clearNotification($index)">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <b ng-switch="notification.type">
                    <b ng-switch-when="error">Error: </b>
                    <b ng-switch-when="warn">Warning: </b>
                </b>
                {{notification.what}}
            </div>
        </div>
    </div>
</div>
