<div class="ng-dygraphs" ng-show="data.length > 0 || loading">
    <div class="legend-above" ng-show="data.length > 0 && legendAbove">
        <div><b>{{formatTm(values[0])}}</b></div>
        <div class="series-container">
            <span ng-repeat="line in series | orderBy:[linePriority, valueForReverse]" class="series">
                <span>{{valueFor(line) | number}}</span>
                <a ng-click="selectSeries(line.index)">
                    <span class="" ng-style="{color: line.color}" ng-class="{'not-graphed': !line.visible,
                    selected: line.selected && line.visible}" ng-mouseover="mouseOverSeries(line)">
                        {{line.label}}
                    </span>
                </a>
            </span>
        </div>
    </div>
    <div class="legend pull-left" ng-show="data.length > 0 && !legendAbove" ng-mouseleave="mouseLeaveLegend()"
         ng-mouseover="mouseEnterLegend()">
        <div class="series-container">
            <div><b>{{formatTm(values[0])}}</b></div>
            <ul>
            <li ng-repeat="line in series | orderBy:[linePriority, valueForReverse]" class="series"
                    context-menu data-target="graph-{{myId}}-series-menu-{{line.index}}">
                <span>{{valueFor(line) | number}}</span>
                <a ng-click="selectSeries(line.index)">
                    <span class="" ng-style="{color: line.color}" ng-class="{'not-graphed': !line.visible,
                    selected: line.selected && line.visible}" ng-mouseover="mouseOverSeries(line)">
                        {{line.label}}
                    </span>
                </a>
            </li>
            </ul>
        </div>
    </div>
    <div class="graph pull-right" ng-show="data.length > 0 && !loading"></div>
    <div class="loading mega-center" ng-show="loading"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
    <div ng-repeat="line in series" class="dropdown position-fixed" id="graph-{{myId}}-series-menu-{{line.index}}">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="highlightSeries(line)">
                    Highlight '{{line.label}}'
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="toggleSeriesVisibility(line)">
                    Hide/Show '{{line.label}}'
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="2"
                   ng-click="hideOtherSeries(line)">
                    Show Only '{{line.label}}'
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="2"
                   ng-click="resetVisibility(true)">
                    Show All
                </a>
        </ul>
    </div>
</div>
