<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 text-center">
                <h1>Khronos</h1>
                <p>The time series engine worth collecting for.</p>
                <div class="shameless-self-promotion">
                    Version 0.0.1 &nbsp;&nbsp;·&nbsp;&nbsp;
                    <a href="https://github.com/nbauernfeind/khronos">GitHub Project</a> &nbsp;&nbsp;·&nbsp;&nbsp;
                    Created by Nate Bauernfeind
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="font-img"><i class="fa fa-bar-chart"></i></div>
            </div>
        </div>
    </div>
</div>
<div id="social-buttons">
    <div class="container">
        <ul class="list-inline">
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nbauernfeind&repo=khronos&type=watch&count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
            </li>
            <li>
                <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=nbauernfeind&repo=khronos&type=fork&count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="102px" height="20px"></iframe>
            </li>
            <li>
                <iframe src="http://ghbtns.com/github-btn.html?user=nbauernfeind&type=follow&count=true"
                        allowtransparency="true" frameborder="0" scrolling="0" width="200px" height="20px"></iframe>
            </li>
        </ul>
    </div>
</div>
