.metric .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.metric .tags.focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.metric .tags .tag-item {
    background: #333333;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #ffffff;
}

.metric .tags .tag-item.selected {
    background: #ED4337;
    border: 1px solid #D42A1E;
    border-radius: 4px;
    color: #000000;
}

.metric .tags .tag-item button {
    background: transparent;
    color: #000;
    /*opacity: .4;*/
}

.metric .autocomplete {
    border-radius: 4px;
}

.metric .autocomplete .suggestion-item.selected {
    color: #262626;
    background-color: #e9e9e9;
}

.metric .autocomplete .suggestion-item.selected em {
    color: #262626;
    background-color: #e9e9e9;
}

.metric .autocomplete .matches {
    font-size: 10px;
    font-style: italic;
}

.metric .tags-disp .tag-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.metric .tags-disp .tag-item {
    background: #333333;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #ffffff;
    margin: 2px;
    padding: 0 5px;
    display: inline-block;
    float: left;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 26px;
    line-height: 25px;
}

.metric .ng-dygraphs {
    margin-top: 20px;
    padding-top: 20px;
    margin-right: 20px;
    border-top: 1px solid #eeeeee;
    overflow: hidden;
}